#fp-nav ul li a span { /*  提高层叠性 */
    background: #4ef507 !important;
}

.go {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 999;
}

/*第一屏样式*/
.section1 {
    background: #fadd67 url(../images/t1fpyqfltdxxaiulhh-990-600.png) no-repeat center bottom;
}

.fly {
    position: absolute;
    right: 20%;
    top: 10%;
}

.shirt01 {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 335px;
}

.goods {
    position: absolute;
    left: 50%;
    margin-left: -420px;
    bottom: 150px;
}

/*第二屏样式*/
.section2 {
    background: #84a2d4 url(../images/t1zdgpfi8exxca6rfn-2000-600.png) no-repeat center bottom;
}

.computer {
    width: 900px;
    height: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.search {
    width: 222px;
    height: 45px;
    background: url(../images/search.png) no-repeat;
    right: -30px;
    bottom: 300px;
    position: absolute;
    display: none;
}

.search-words {
    position: absolute;
    right: 32px;
    top: 5px;
    opacity: 0;
}

.search-02-1 {
    position: absolute;
    bottom: 300px;
    right: 370px;
    display: none;
}

.goods-02 {
    height: 100px;
    position: absolute;
    bottom: 217px;
    right: 270px;
    display: none;
}

.words-01, .words-02 {
    position: absolute;
    left: 50%;
    bottom: 550px;
    transform: translateX(-50%);
}

.words-02 {
    opacity: 0;
}

.shirt-02 {
    position: absolute;
    bottom: 345px;
    left: 395px;
    width: 100px;
    display: none;
    z-index: 10;
}

.cover {
    position: absolute;
    bottom: 334px;
    right: 496px;
    width: 101px;
    height: 90px;
    z-index: 5;
    background-color: #fff;
    display: none;
}

.section3 {
    background: #ef674d;
}

.main {
    position: absolute;
    width: 700px;
    height: 500px;
    background: url(../images/main.png) no-repeat center center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.select {
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 8px;
}

.img {
    position: absolute;
    top: 0;
}

.img-01-a {
    opacity: 0; /* 这里我们先不用 display:  而用  opacity 淡入效果 */
}

.btn {
    position: absolute;
    bottom: 10px;
}

.btn-01-a {
    opacity: 0; /* 这里我们先不用 display:  而用  opacity 淡入效果 */
}

/* 沙发 */
.shirt-03,
.t1f {
    position: absolute;
    left: 115px;
    bottom: 200px;
    display: none;
}

.section4 {
    background: #fed url(../images/t1iresfnxaxxca6rfn-2000-600.png) no-repeat center bottom;

}

.section5 {
    background: #d04759 url(../images/t1yisqfa4exxa3gmkg-2000-1500.png);

}


.section6 {
    background: #84d9ed url(../images/t1dvj.fn0gxxb0_fua-2500-600.png) no-repeat 25% 100%;

}


.section7 {
    background: #8ac060 url(../images/t1wf1tfctaxxa3gmkg-2000-1500.png) no-repeat 50% 100%;

}

.section8 {
    background: url(../images/ksgw.png);

}

/*动画*/
.updown {
    animation: fly 3s linear infinite; /*linear 匀速*/
}

.shirt-updown {
    animation: shirt01 2.5s linear infinite;
}

@keyframes fly {
    0% {
        top: 10%
    }
    50% {
        top: 20%
    }
    100% {
        top: 10%
    }
}

@keyframes shirt01 {
    50% {
        bottom: 360px;
    }
    100% {
        bottom: 335px
    }
}